<div class="container">
    <h2>Gestion des profils</h2>
    <mat-form-field appearance="outline" class="filter">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>
    <button mat-raised-button class="add-btn" aria-label="Example icon-button with share icon" (click)="openDialog(mymodalajout,null)">
      Ajouter <mat-icon>library_add</mat-icon>
    </button>
    
    
  
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- Position Column -->
      <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="Libelle">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Libelle </th>
        <td mat-cell *matCellDef="let element"> {{element.libelle}} </td>
      </ng-container>
     
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="openDialog(mymodalmodifier, element)" > <mat-icon>edit</mat-icon> </button>  
          <button mat-icon-button color="warn" (click)="openSuppDialog(mymodalsupprimer,element.id)"> <mat-icon>delete</mat-icon> </button>  
        </td>
      </ng-container>
  
      <tr style="background-color: rgb(233, 231, 231);" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr class="tr" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Pas de données avec le nom "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons 
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
  
  
     
  <!-------------------------- modal -------------------------------------------------------------------------->
  <ng-template #mymodalajout>
  <div>
    <h2 mat-dialog-title>Ajouter Profil</h2>
    <mat-dialog-content class="mat-typography">
      <form [formGroup]="ajoutProfilForm">
        <mat-form-field appearance="outline">
          <mat-label>Libelle</mat-label>
          <input formControlName="libelle" matInput placeholder="Abc" minlength="4">
          <mat-icon matSuffix>edit</mat-icon>
          <mat-hint>Min 4 caracteres</mat-hint>
        </mat-form-field>
    </form>
    </mat-dialog-content>
  
    <mat-dialog-actions align="end">
      <button mat-raised-button color="warn" mat-dialog-close>Annuler</button>
      <button mat-raised-button color="primary" (click)="ajouterProfil()" cdkFocusInitial>Creer</button>
    </mat-dialog-actions>
  </div>
  </ng-template>
  
  <ng-template #mymodalmodifier>
  <div>
    <h2 mat-dialog-title>Modifier domaine</h2>
    <mat-dialog-content class="mat-typography">
      <form [formGroup]="modifierProfilForm">
        <input formControlName="libelle" matInput placeholder="Abc" minlength="4" style="display: none;">
        <mat-form-field appearance="outline">
          <mat-label>Libelle</mat-label>
          <input formControlName="libelle" matInput placeholder="Abc" minlength="4">
          <mat-icon matSuffix>edit</mat-icon>
          <mat-hint>Min 4 caracteres</mat-hint>
        </mat-form-field>
    </form>
    </mat-dialog-content>
  
    <mat-dialog-actions align="end">
      <button mat-raised-button color="warn" mat-dialog-close>Annuler</button>
      <button mat-raised-button color="primary" (click)="modifierProfil()" cdkFocusInitial>Modifier</button>
    </mat-dialog-actions>
  </div>
  </ng-template>
  
  <ng-template #mymodalsupprimer>
  <div>
    <h2 mat-dialog-title>Supprimer profil</h2>
    <mat-dialog-content class="mat-typography">
      <h3>Vous voulez vraiment supprimer cet profil?</h3>
    </mat-dialog-content>
  
    <mat-dialog-actions align="end">
      <button mat-raised-button color="warn" mat-dialog-close>Annuler</button>
      <button mat-raised-button color="primary" (click)="supprimerProfil()" cdkFocusInitial>Supprimer</button>
    </mat-dialog-actions>
  </div>
  </ng-template>